<div class="panel panel-primary panel-resident">
  <div class="panel-heading">{{resident.name}}
    <i class="fa" ng-class="{'fa-mars': resident.gender === 'male', 'fa-venus': resident.gender === 'female'}"></i>
  </div>
  <div class="panel-body">
    <table class="table resident-description">
      <tbody>
        <tr>
          <td class="field">Year of Birth</td>
          <td class="value">{{resident.birth_year}}</td>
        </tr>
        <tr>
          <td class="field">Height</td>
          <td class="value">{{resident.height}} cm</td>
        </tr>
        <tr>
          <td class="field">Mass</td>
          <td class="value">{{resident.mass}} kg</td>
        </tr>
        <tr>
          <td class="field">Hair Color</td>
          <td class="value">{{resident.hair_color}}</td>
        </tr>
        <tr>
          <td class="field">Skin Color</td>
          <td class="value">{{resident.skin_color}}</td>
        </tr>
        <tr>
          <td class="field">Eye Color</td>
          <td class="value">{{resident.eye_color}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div><span class="field">Date Created:</span> {{resident.created | date:"MM/dd/yyyy @ h:mma"}}</div>
    <div><span class="field">Date Edited:</span> {{resident.edited | date:"MM/dd/yyyy @ h:mma"}}</div>
  </div>
</div>

